html,
body,
#container {
    width: 100%;
    text-align: center;
}

#game-container {
    margin: 0 auto;
}

#game-container>canvas {
    border-radius: 5px;
}

.d-none { 
    display: none; 
}

div {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #ffffff; 
}

input {
    font-family: 'Press Start 2P', cursive;
}